<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="conformist">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Что в кино</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/api">API</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
      {% for movie in movies %}
        <div class="col-md-12 movie">
          <div class="col-md-5">
            <img src="{{ movie['image'] }}" class="img-rounded movie_img" alt="{{ movie['title'] }}">
          </div>
          <div class="col-md-7">
            <h3><a href="{{ movie['url'] }}">{{ movie['title'] }}</a></h3>
            <p class="text-muted description">{{ movie['description'] }}</p>
            <ul class="movie_info">
              <li><b>Режиссёр:</b> {{ movie['director'] }}</li>
              <li><b>Продолжительность:</b> {{ movie['duration'] }} мин.</li>
              <li><b>Год:</b> {{ movie['year'] }}</li>
              <li><b>Жанр:</b> {{ movie['genre'] }}</li>
              <li><b>Количество оценок:</b> {{ movie['rate_count'] }}</li>
	      <li><b>Рейтинг:</b> {{ movie['rate_value'] }}<span class="stars" data-value="{{ movie['rate_value'] }}"></span></li>
            </ul>
            <p><b>Описание:</b></p>
            <p>{{ movie['text'] }}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    <div class="col-md-12 disclaimer"><span class="bg-warning">Настоящий сайт создан в исключительно учебных целях. Все сведения о фильмах взяты с сайта</span> <a href="http://www.afisha.ru">Афиша</a>.</div>
    </div><!-- /.container -->

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-theme.min.css.map') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.css.map') }}"></script>
    <script>
      $.fn.stars = function() {
        return $(this).each(function() {
          var val = parseFloat($(this).data('value'));
          var size = Math.max(0, (Math.min(5, val))) * 16;
          var $span = $('<span />').width(size);
          $(this).html($span);
        });
      };
      $(function() {
        $('span.stars').stars();
      });
    </script>
  </body>
</html>
